<div class="logo-sn ms-d-block-lg">
    <a class="pl-0 ml-0 text-center" href="index-2.html">  </a>
    <a href="#" class="text-center " >  <img  src="http://localhost:3000/getImage/{{user.image}}" style="width: 90px;height: 90px; border-radius: 4em;" ></a>
    <h5 class="text-center text-white mt-2">{{user.name}}</h5>
    <h6 class="text-center text-white mb-3"  >{{role}}</h6>
  </div>
  <!-- Navigation -->
  <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
    <!-- Dashboard -->
    <li class="menu-item">
      <a href="#" class="has-chevron" data-toggle="collapse" data-target="#dashboard" aria-expanded="false" aria-controls="dashboard">
        <span><i class="material-icons fs-16">dashboard</i>Dashboard </span>
      </a>
      <ul id="dashboard" class="collapse" aria-labelledby="dashboard" data-parent="#side-nav-accordion">
        <li> <a routerLink="/home">home</a> </li>
      </ul>
    </li>
    <!-- /Dashboard -->
    <!-- Dozctor -->
   
    <!-- Doctor -->
    <!-- Patient -->
    <li class="menu-item">
      <a href="#" class="has-chevron" data-toggle="collapse" data-target="#patient" aria-expanded="false" aria-controls="patient">
        <span><i class="fas fa-user"></i>Patient</span>
      </a>
      <ul id="patient" class="collapse" aria-labelledby="patient" data-parent="#side-nav-accordion">
        <li> <a routerLink="addpatient" *ngIf="role!='doctor'">Add Patient</a> </li>
        <li> <a routerLink="patient">Patient List</a> </li>
      </ul>
    </li>
    <!-- /Patient -->
    <!-- Department -->
   
    <!-- /Department -->
    <!-- Schedule -->
   
    <!-- /Schedule -->
    <!-- Appointment -->
    <li class="menu-item">
      <a href="#" class="has-chevron" data-toggle="collapse" data-target="#appointment" aria-expanded="false" aria-controls="appointment">
        <span><i class="far fa-check-square"></i>Appointment</span>
      </a>
      c
    </li>
    <!-- /Appointment -->
    <!-- Payment -->
    <li class="menu-item">
      <a href="#" class="has-chevron" data-toggle="collapse" data-target="#payment" aria-expanded="false" aria-controls="payment">
        <span><i class="fas fa-credit-card"></i>Payment</span>
      </a>
      <ul id="payment" class="collapse" aria-labelledby="payment" data-parent="#side-nav-accordion">
       
        <li> <a routerLink="payment">Payment List</a> </li>
       
      </ul>
    </li>
    <!-- /Payment -->
    <!-- Report -->
    <li class="menu-item">
      <a href="#" class="has-chevron" data-toggle="collapse" data-target="#report" aria-expanded="false" aria-controls="report">
        <span><i class="fas fa-file-alt"></i>Report</span>
      </a>
      <ul id="report" class="collapse" aria-labelledby="report" data-parent="#side-nav-accordion">
        <li> <a href="assets/pages/report/patient-report.html">Patient Wise Report</a> </li>
        <li> <a href="assets/pages/report/doctor-report.html">Doctor Wise Report</a> </li>
        <li> <a href="assets/pages/report/total-report.html">Total Report</a> </li>
      </ul>
    </li>
    <!-- /Report -->
    <!-- Human Resource -->
   
    <!-- /Apps -->
  </ul>
  













































  