<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb pl-0">
                    <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Doctor</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Doctors</li>
                </ol>
            </nav>
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="ms-panel">
                <div class="ms-panel-header ms-panel-custome">
                    <h6>Add Doctors</h6>
                    <a href="doctor-list.html" class="ms-text-primary">Doctors List</a>
                </div>
                <div class="card-body" id="bar-parent">
                    <form action="#" id="form_sample_1" class="form-horizontal">
                        <div class="form-body">
                        <div class="form-group row">
                                <label class="control-label col-md-3"> firstName
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" name="firstname" [(ngModel)]="medecin.firstname" data-required="1" placeholder=" firstname" class="form-control input-height" /> </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3"> lastname
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" name="firstname"  [(ngModel)]="medecin.Lastname"  data-required="1" placeholder=" lastname" class="form-control input-height" /> </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">email                                       <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="email" name="email"  [(ngModel)]="medecin.email" data-required="1" placeholder="enter email" class="form-control input-height" /> </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">speciality
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" name="name doctor"  [(ngModel)]="medecin.speciality" data-required="1" placeholder="speciality " class="form-control input-height" /> </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">address
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" name="num RDV"  [(ngModel)]="medecin.address" data-required="1" placeholder="Address" class="form-control input-height" /> </div>
                                
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">phone
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="number" name="age"  [(ngModel)]="medecin.phone" data-required="1" placeholder="phone " class="form-control input-height" /> </div>
                            </div>
                           
                           
                            <div class="form-group row">
                                <label class="control-label col-md-3">Upload Picture
                                </label>
                                <div class="compose-editor">
                                  <input type="file" class="default" multiple>
                              </div>
                            </div>
                           
                               
                             
                                
                            
                            <div class="form-actions">
                            <div class="row">
                                <div class="offset-md-3 col-md-9">
                                    <button type="submit" (click)="addMedecin()" class="btn btn-info">Submit</button>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>