<div class="container-fluid">

    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-6">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Patient Details</h3>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody >
                            <tr >											
                                <td><strong>firstName</strong></td>
                                <td>{{profilData1['firstname']}}</td>
                            </tr>
                            <tr >											
                                <td><strong>lastname</strong></td>
                                <td>{{profilData1['Lastname']}}</td>
                            </tr>
                            <tr>
                                <td><strong>Email</strong> </td>
                                <td>{{profilData1['email']}}</td>
                            </tr>
                            <tr>
                                <td><strong>Date of birth</strong></td>
                                <td>{{profilData1['DateofBirth']|date}}</td>
                            </tr>
                            <tr>
                                <td><strong>sexegender</strong></td>
                                <td>{{profilData1['sexegender']}}</td>
                            </tr>
                            <tr>
                                <td><strong>age</strong></td>
                                <td>{{profilData1['age']}}</td>
                            </tr>
                            <tr>
                                <td><strong>address</strong></td>
                                <td>{{profilData1['address']}}</td>
                            </tr>
                            <tr>
                                <td><strong>Phone</strong></td>
                                <td>{{profilData1['phone']}}</td>
                            </tr>									
                        </tbody>
                    </table>
                </div>
                
                    <!--Export links-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center export-pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-download"></span> csv</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-printer"></span>  print</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-file"></span> PDF</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-align-justify"></span> Excel</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /Export links-->
                <button type="button" class="btn btn-success mb-3"><span class="ti-pencil-alt"></span> Edit Patient</button>
                <button type="button" class="btn btn-danger mb-3"><span class="ti-trash"></span> Delete Patient</button>
                <button type="button" class="btn btn-info mb-3"><span class="ti-arrow-down"></span> Download File</button>
            </div>
        </div>
        <!-- /Widget Item -->
        <!-- Widget Item -->
        <div class="col-md-6">
            <div class="widget-area-2 proclinic-box-shadow">
                <button type="button" class="btn btn-info mb-3" a href="#mymodal"  data-toggle="modal" style="float: right;" ><span class="ti-pencil-alt"></span> Add RDV</button>
                <h3 class="widget-title">Appointments</h3>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>										
                                <th>Doctor Name</th>
                                <th>Cost</th>
                                <th>Visit Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>											
                                <td>{{profilData1['nameofdoctor']}}</td>
                                <td>$30</td>
                                <td>12-03-2018</td>
                                <td>Resheduled</td>
                            </tr>
                            <tr>
                                <td>Riya </td>
                                <td>$26</td>
                                <td>12-10-2018</td>
                                <td>Operation</td>
                            </tr>
                            <tr>
                                <td>Paul</td>
                                <td>$46</td>
                                <td>45-10-2018</td>
                                <td>Fever</td>
                            </tr>
                            <tr>
                                <td>Manoj Kumar</td>
                                <td>$30</td>
                                <td>12-03-2018</td>
                                <td>Ortho</td>
                            </tr>
                            <tr>
                                <td>Riya </td>
                                <td>26</td>
                                <td>12-10-2018</td>
                                <td>General Check-up</td>
                            </tr>
                            <tr>
                                <td>Paul</td>
                                <td>46</td>
                                <td>45-10-2018</td>
                                <td>Injury</td>
                            </tr>										
                        </tbody>
                    </table>
                    
                    <!--Export links-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center export-pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-download"></span> csv</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-printer"></span>  print</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-file"></span> PDF</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-align-justify"></span> Excel</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /Export links-->
                </div>
            </div>
        </div>
        <!-- /Widget Item -->
         <!-- Widget Item -->
         <div class="col-md-6">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Ordonnancement</h3>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody >
                            <tr >											
                                <td><strong>Num Ordonnancement</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><strong>Date Ordonnancement</strong> </td>
                                <td>26-10-1989</td>
                            </tr>
                            <tr>
                                <td><strong>name of Doctor</strong></td>
                                <td>Male</td>
                            </tr>
                            <tr>
                                <td><strong>firstname</strong></td>
                                <td>Koramangala 
                                    Banglore, India</td>
                            </tr>
                            <tr>
                                <td><strong>lastname</strong></td>
                                <td>+91 11111 11111</td>
                            </tr>
                            <tr>
                                <td><strong>medicament</strong></td>
                                <td>your@email.com</td>
                            </tr>									
                        </tbody>
                    </table>
                </div>
                
                    <!--Export links-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center export-pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-download"></span> csv</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-printer"></span>  print</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-file"></span> PDF</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-align-justify"></span> Excel</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /Export links-->
                <button type="button" class="btn btn-success mb-3"><span class="ti-pencil-alt"></span> Edit Patient</button>
                <button type="button" class="btn btn-danger mb-3"><span class="ti-trash"></span> Delete Patient</button>
                <button type="button" class="btn btn-info mb-3"><span class="ti-arrow-down"></span> Download File</button>
            </div>
        </div>
        <!-- /Widget Item -->
        <!-- Widget Item -->
        <div class="col-md-6">
            <div class="widget-area-2 proclinic-box-shadow">
             <button type="button" class="btn btn-info mb-3" a href="#payement"  data-toggle="modal" style="float: right;" ><span class="ti-pencil-alt"></span> Add Payement</button>

                <h3 class="widget-title">Payments</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>										
                                <th>account name</th>
                                <th>description</th>
                                <th>type</th>
                                <th>datepayment</th>

                                
                                <th>amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>											
                                <td>Manoj Kumar</td>
                                <td>$30</td>
                                <td>12-03-2018</td>
                                <td>Resheduled</td>
                            </tr>
                            <tr>
                                <td>Riya </td>
                                <td>$26</td>
                                <td>12-10-2018</td>
                                <td>Operation</td>
                            </tr>
                            <tr>
                                <td>Paul</td>
                                <td>$46</td>
                                <td>45-10-2018</td>
                                <td>Fever</td>
                            </tr>
                            <tr>
                                <td>Manoj Kumar</td>
                                <td>$30</td>
                                <td>12-03-2018</td>
                                <td>Ortho</td>
                            </tr>
                            <tr>
                                <td>Riya </td>
                                <td>26</td>
                                <td>12-10-2018</td>
                                <td>General Check-up</td>
                            </tr>
                            <tr>
                                <td>Paul</td>
                                <td>46</td>
                                <td>45-10-2018</td>
                                <td>Injury</td>
                            </tr>										
                        </tbody>
                    </table>
                    
                    <!--Export links-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center export-pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-download"></span> csv</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-printer"></span>  print</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-file"></span> PDF</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="ti-align-justify"></span> Excel</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /Export links-->
                </div>
            </div>
        </div>
        <!-- /Widget Item -->
    </div>
</div>