<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb pl-0">
                    <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Patient</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Patient List</li>
                </ol>
            </nav>
            <div class="ms-panel">
                <div class="ms-panel-header ms-panel-custome">
                    <h6>Patient List</h6>
                    <a routerLink="/home/addpatient" class="ms-text-primary">Add Patient</a>
                </div>
                <div class="ms-panel-body">
                    <div class="table-responsive">
                        <div id="data-table-2_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="data-table-2_length">
                                        <label>Show <select name="data-table-2_length" aria-controls="data-table-2"
                                                class="custom-select custom-select-sm form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="data-table-2_filter" class="dataTables_filter">
                                        <label>
                                            <input type="search" class="form-control form-control-sm"
                                                placeholder="Search Data..." aria-controls="data-table-2">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="data-table-2"
                                        class="table table-striped thead-primary w-100 dataTable no-footer" role="grid"
                                        aria-describedby="data-table-2_info" style="width: 1203px;">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="data-table-2"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="Name: activate to sort column descending"
                                                    style="width: 86px;">firstname</th>
                                                <th class="sorting" tabindex="0" aria-controls="data-table-2"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Address: activate to sort column ascending"
                                                    style="width: 80px;">Lastname</th>
                                                <th class="sorting" tabindex="0" aria-controls="data-table-2"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Disease: activate to sort column ascending"
                                                    style="width: 60px;">Email</th>
                                                <th class="sorting" tabindex="0" aria-controls="data-table-2"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Age: activate to sort column ascending"
                                                    style="width: 20px;">DateofBirth</th>
                                                <th class="sorting" tabindex="0" aria-controls="data-table-2"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Phone: activate to sort column ascending"
                                                    style="width: 109px;">sexegender</th>
                                                <th class="sorting" tabindex="0" aria-controls="data-table-2"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Email: activate to sort column ascending"
                                                    style="width: 242px;">age</th>
                                                <th class="sorting" tabindex="0" aria-controls="data-table-2"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Email: activate to sort column ascending"
                                                    style="width: 242px;">address</th>
                                                <th class="sorting" tabindex="0" aria-controls="data-table-2"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Email: activate to sort column ascending"
                                                    style="width: 242px;">Phone</th>

                                                <th class="sorting" tabindex="0" aria-controls="data-table-2"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Action: activate to sort column ascending"
                                                    style="width: 65px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr role="row" class="even" *ngFor="let item of patients">
                                                <td class="sorting_1">
                                                    <img src="../../assets/assets/img/dashboard/patient-1.jpg">
                                                    {{item.firstname}}
                                                </td>
                                                <td>{{item.Lastname}}</td>
                                                <td>{{item.email}}</td>
                                                <td>{{item.DateofBirth|date}}</td>
                                                <td>{{item.sexegender}}</td>
                                                <td> {{item.age}}</td>
                                                <td> {{item.address}}</td>
                                                <td> {{item.phone}}</td>
                                                <td><a [routerLink]="['/home/editpatient',item._id]"><i
                                                            class="fas fa-pencil-alt ms-text-primary"></i>
                                                    </a>
                                                    <a class="far fa-trash-alt ms-text-danger" (click)="selectUser(item._id)"
                                                        data-toggle="modal" data-target="#delete_patient"><i
                                                           ></i> </a>

                                                </td>
                                            </tr>


                                            <div id="delete_patient" class="modal fade delete-modal" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-body text-center">
                                                            <img src="assets/images/sent.png" alt="" width="50"
                                                                height="46">
                                                            <h3>Are you sure want to delete this Patient?</h3>
                                                            <div class="m-t-20"> <a href="#" class="btn btn-white"
                                                                    data-dismiss="modal">Close</a>
                                                                <button (click)="removepatient()" class="btn btn-danger"
                                                                    data-dismiss="modal">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="data-table-2_info" role="status"
                                        aria-live="polite">Showing 1 to 10 of 36 entries</div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="data-table-2_paginate">
                                        <ul class="pagination has-gap">
                                            <li class="paginate_button page-item previous disabled"
                                                id="data-table-2_previous">
                                                <a href="#" aria-controls="data-table-2" data-dt-idx="0" tabindex="0"
                                                    class="page-link">Previous</a>
                                            </li>
                                            <li class="paginate_button page-item active">
                                                <a href="#" aria-controls="data-table-2" data-dt-idx="1" tabindex="0"
                                                    class="page-link">1</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="data-table-2" data-dt-idx="2" tabindex="0"
                                                    class="page-link">2</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="data-table-2" data-dt-idx="3" tabindex="0"
                                                    class="page-link">3</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="data-table-2" data-dt-idx="4" tabindex="0"
                                                    class="page-link">4</a>
                                            </li>
                                            <li class="paginate_button page-item next" id="data-table-2_next">
                                                <a href="#" aria-controls="data-table-2" data-dt-idx="5" tabindex="0"
                                                    class="page-link">Next</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>