<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">

   
  <!-- Preloader -->
  <app-header></app-header>
  <!-- Overlays -->
  
  <!-- Sidebar Navigation Left -->
  <aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">
    <!-- Logo -->
   <app-sidebar></app-sidebar>
  </aside>
  <!-- Sidebar Right -->
  <aside id="ms-recent-activity" class="side-nav fixed ms-aside-right ms-scrollable">
    <app-sidebar></app-sidebar>
  </aside>
  <!-- Main Content -->
  <main class="body-content">


    <!-- Navigation Bar -->
    <app-navbar></app-navbar>
    <!-- Body Content Wrapper -->

    <div class="ms-content-wrapper">

      <router-outlet></router-outlet>

    </div>
  </main>
  <div class="modal fade" id="reminder-modal" tabindex="-1" role="dialog" aria-labelledby="reminder-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <h5 class="modal-title has-icon text-white"> New Reminder</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <form>
          <div class="modal-body">
            <div class="ms-form-group">
              <label>Remind me about</label>
              <textarea class="form-control" name="reminder"></textarea>
            </div>
            <div class="ms-form-group">
              <span class="ms-option-name fs-14">Repeat Daily</span>
              <label class="ms-switch float-right">
                <input type="checkbox">
                <span class="ms-switch-slider round"></span>
              </label>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="ms-form-group">
                  <input type="text" class="form-control datepicker" name="reminder-date" value="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="ms-form-group">
                  <select class="form-control" name="reminder-time">
                    <option value="">12:00 pm</option>
                    <option value="">1:00 pm</option>
                    <option value="">2:00 pm</option>
                    <option value="">3:00 pm</option>
                    <option value="">4:00 pm</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary shadow-none" data-dismiss="modal">Add Reminder</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Notes Modal -->
  <div class="modal fade" id="notes-modal" tabindex="-1" role="dialog" aria-labelledby="notes-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <h5 class="modal-title has-icon text-white" id="NoteModal">New Note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <form>
          <div class="modal-body">
            <div class="ms-form-group">
              <label>Note Title</label>
              <input type="text" class="form-control" name="note-title" value="">
            </div>
            <div class="ms-form-group">
              <label>Note Description</label>
              <textarea class="form-control" name="note-description"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary shadow-none" data-dismiss="modal">Add Note</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ms-modal-dialog-width">
      <div class="modal-content ms-modal-content-width">
        <div class="modal-header  ms-modal-header-radius-0">
          <h4 class="modal-title text-white">Make An Appointment</h4>
          <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">x</button>
  
        </div>
        <div class="modal-body p-0 text-left">
          <div class="col-xl-12 col-md-12">
            <div class="ms-panel ms-panel-bshadow-none">
              <div class="ms-panel-header">
                <h6>Patient Information</h6>
              </div>
              <div class="ms-panel-body">
                <form class="needs-validation" novalidate>
                  <div class="form-row">
                    
                   
                   
                  </div>
                  <div class="col-md-6 mb-3"> nom de  medecin
                    <select class="form-control input-height" [(ngModel)]="rdv.medecin" name="gender">
                        <option [value]="item._id" *ngFor="let item of medecin">{{item.firstname}}</option>
                    </select>
                </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom05">name</label>
                      <div class="input-group">
                        <input type="text" name="Dtardv" class="form-control" [(ngModel)]="rdv.name"  placeholder="Enter the of Date RDV" >
  
                      </div>
  
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom05">email</label>
                      <div class="input-group">
                        <input type="email" name="Dtardv" class="form-control" [(ngModel)]="rdv.email"  placeholder="Enter the of Date RDV" >
  
                      </div>
  
                    </div>
  
                    
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom05">Date RDV</label>
                      <div class="input-group">
                        <input type="Date" name="Dtardv" class="form-control" [(ngModel)]="rdv.DateRDV"  placeholder="Enter the of Date RDV" >
  
                      </div>
  
                    </div>
  
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom06">Heure RDV</label>
                      <div class="input-group">
                        <input type="datetime" name="heurerdv" class="form-control" [(ngModel)]="rdv.HeureRDV"  placeholder="Enter Heure RDV" >
  
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-4 mb-3">
                    <label for="validationCustom06">Phone</label>
                    <div class="input-group">
                      <input type="number" name="heurerdv" class="form-control" [(ngModel)]="rdv.phone"  placeholder="Enter Heure RDV" >

                    </div>
                  </div>
                  
                 
  
  
  
                  <div class="form-row">
                    
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom08">injury</label>
                      <div class="input-group">
                        <input type="text" name="injury" class="form-control" [(ngModel)]="rdv.injury"  placeholder="Enter the injury of patient" >
  
                      </div>
                    </div>
                    
                  </div>
                  <button class="btn btn-warning mt-4 d-inline w-20" type="submit">Reset</button>
                  <button  (click)="addRDV()" class="btn btn-primary mt-4 d-inline w-20" type="submit">Add Appointment</button>
                </form>
              </div>
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  
  <!-- Modal -->
  <div class="modal fade" id="prescription" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ms-modal-dialog-width">
      <div class="modal-content ms-modal-content-width">
        <div class="modal-header  ms-modal-header-radius-0">
          <h4 class="modal-title text-white">Make a prescription</h4>
          <button type="button" class="close  text-white" data-dismiss="modal" aria-hidden="true">x</button>
  
        </div>
        <div class="modal-body p-0 text-left">
          <div class="col-xl-12 col-md-12">
            <div class="ms-panel ms-panel-bshadow-none">
              <div class="ms-panel-header">
                <h6>Patient Information</h6>
              </div>
              <div class="ms-panel-body">
                <form class="needs-validation" novalidate>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom09">NumOrdonnancement</label>
                      <div class="input-group">
                        <input type="number" name="NumOrdonnancement" class="form-control" [(ngModel)]="ordonnancement.NumOrdonnancement"  placeholder="Enter Name" >
  
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom10">Date ordonnancement</label>
                      <div class="input-group">
                        <input type="date" name="dateofbirth" class="form-control" [(ngModel)]="ordonnancement.DateOrdonnancement" >
  
                      </div>
                    </div>
                    <div class="col-md-4 mb-2">
                      <label for="validationCustom11">nameofdoctor</label>
                      <div class="input-group">
                        <input type="text" name="nameofdoctor" class="form-control" [(ngModel)]="ordonnancement.nameofdoctor" placeholder="Add Address" >
  
                      </div>
                    </div>
                    <div class="col-md-4 mb-2">
                      <label for="validationCustom11">firstname</label>
                      <div class="input-group">
                        <input type="text" name="firstname" class="form-control" [(ngModel)]="ordonnancement.firstname" placeholder="Add Address" >
  
                      </div>
                    </div>
  
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom12">last name</label>
                      <div class="input-group">
                        <input type="text" name="lastname" class="form-control"[(ngModel)]="ordonnancement.lastname" placeholder="Enter Phone No." >
  
                      </div>
  
                    </div>
  
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom13">Medicament</label>
                      <div class="input-group">
                        <input type="text" name="medicament" class="form-control" [(ngModel)]="ordonnancement.medicament"  placeholder="Acetaminophen" >
  
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom14">Nombrefoisparjour</label>
                      <div class="input-group">
                        <input type="number" name="Nombrefoisparjour" class="form-control" [(ngModel)]="ordonnancement.Nombrefoisparjour"  placeholder="" >
  
                      </div>
                    </div>
                  </div>
  
  
  
                  <div class="form-row">
  
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom15">age</label>
                      <div class="input-group">
                        <input type="number" name="age" class="form-control"  [(ngModel)]="ordonnancement.age" placeholder="Enter Doctor Name" >
  
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom15">Description</label>
                      <div class="input-group">
                        <input type="text" name="description" class="form-control"  [(ngModel)]="ordonnancement.description" placeholder="Enter Doctor Name" >
  
                      </div>
                    </div>
                  </div>
                  <button (click)="addOrdonnancement()" class="btn btn-warning mt-4 d-inline w-20" type="submit">add ordonnancement</button>
                  <button class="btn btn-primary mt-4 d-inline w-20" type="submit">Save & Print</button>
                </form>
              </div>
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  
  <!-- Modal -->
  <div class="modal fade" id="report1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ms-modal-dialog-width">
      <div class="modal-content ms-modal-content-width">
        <div class="modal-header  ms-modal-header-radius-0">
          <h4 class="modal-title text-white">Generate report</h4>
          <button type="button" class="close  text-white" data-dismiss="modal" aria-hidden="true">x</button>
  
        </div>
        <div class="modal-body p-0 text-left">
          <div class="col-xl-12 col-md-12">
            <div class="ms-panel ms-panel-bshadow-none">
              <div class="ms-panel-header">
                <h6>Patient Information</h6>
              </div>
              <div class="ms-panel-body">
                <form class="needs-validation" novalidate>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom16">Patient Name</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="validationCustom16" placeholder="Enter Name" required>
  
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom17">Date Of Birth</label>
                      <div class="input-group">
                        <input type="number" class="form-control" id="validationCustom17" required>
  
                      </div>
                    </div>
                    <div class="col-md-4 mb-2">
                      <label for="validationCustom22">Address</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="validationCustom22" placeholder="Add Address" required>
  
                      </div>
                    </div>
  
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom18">Phone no.</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="validationCustom18" placeholder="Enter Phone No." required>
  
                      </div>
  
                    </div>
  
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom19">Report Type</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="validationCustom19" placeholder="Diseases Report" required>
  
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom23">Report Period</label>
                      <div class="input-group">
                        <input type="number" class="form-control" id="validationCustom23" placeholder="" required>
  
                      </div>
                    </div>
                  </div>
  
  
  
                  <div class="form-row">
  
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom20">Appointment With</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="validationCustom20" placeholder="Enter Doctor Name" required>
  
                      </div>
                    </div>
  
                  </div>
                  <button class="btn btn-warning mt-4 d-inline w-20" type="submit">Generate Report</button>
                  <button class="btn btn-primary mt-4 d-inline w-20" type="submit">Generate & Print</button>
                </form>
              </div>
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <div class="modal fade" id="payement" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ms-modal-dialog-width">
      <div class="modal-content ms-modal-content-width">
        <div class="modal-header  ms-modal-header-radius-0">
          <h4 class="modal-title text-white">Payement</h4>
          <button type="button" class="close  text-white" data-dismiss="modal" aria-hidden="true">x</button>
  
        </div>
        <div class="modal-body p-0 text-left">
          <div class="col-xl-12 col-md-12">
            <div class="ms-panel ms-panel-bshadow-none">
              <div class="ms-panel-header">
                <h6>Payement</h6>
              </div>
              <div class="ms-panel-body">
                <form class="needs-validation" novalidate>
                  <div class="col-md-6 mb-3"> nom de  medecin
                    <select class="form-control input-height" [(ngModel)]="payment.medecin" name="gender">
                        <option [value]="item._id" *ngFor="let item of medecin">{{item.firstname}}</option>
                    </select>
                </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom16">accountname </label>
                      <div class="input-group">
                        <input type="text" name="accountname" class="form-control"  [(ngModel)]="payment.accountname" placeholder="Enter account name" required>
  
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom17">description</label>
                      <div class="input-group">
                        <input type="text" name="description" class="form-control" [(ngModel)]="payment.description" required>
  
                      </div>
                    </div>
                    <div class="col-md-4 mb-2">
                      <label for="validationCustom22">type</label>
                      <div class="input-group">
                        <input type="text" name="type" class="form-control" [(ngModel)]="payment.type"  placeholder="type" required>
  
                      </div>
                    </div>
  
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom18">date payment</label>
                      <div class="input-group">
                        <input type="date"  name="date payment" class="form-control"  [(ngModel)]="payment.datepayment" placeholder="Enter date payment" required>
  
                      </div>
  
                    </div>
  
                    <div class="col-md-4 mb-3">
                      <label for="validationCustom19">amount</label>
                      <div class="input-group">
                        <input type="number" name="amount" class="form-control"  [(ngModel)]="payment.amount" placeholder="amount" required>
  
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-warning mt-4 d-inline w-20" (click)="addPayment()" type="submit">Generate payement</button>
                  <button class="btn btn-primary mt-4 d-inline w-20" type="submit">Generate & Print</button>
                </form>
              </div>
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  
  
  </body>
  